.qr-space {
    width: 82px;
    height: 82px;
    margin-top: 35px;
    padding: 15px 15px;
    background-color: #000;
    color: white;
    text-align: center;
}

.title {
    font-family: SUIT-Bold;
  }
  
  .disc {
    font-family: SUIT-Medium;
  }